.container.about__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}



.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.about__card {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color:var(--color-light)
}

.about__content p {
    margin: 2.5rem 0 2.8rem;
    color: var(--color-light);
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.about__info h1 {
   color: var(--color-primary-variant);
   font-size: 3.5rem;
}
/* MEDIA QUERIS(MEDIUM) */

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* MEDIA QUERIS(SMALL) */

@media screen and (max-width: 600px) {


    .about__content p {
        margin: 1.5rem 0;
    }



    .container.about__container {
        width: var(--container-width-sm);
    }
}

