.experiencie__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.experiencie__content {
    width: 70%;
}



.experiencie__container >div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experiencie__container >div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experiencie__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experiencie__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experiencie__details {
    display: flex;
    gap: 1rem;
    height: auto;
}

.experiencie_details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
    .experiencie__container {
        grid-template-columns: 1fr;
    }

    .experiencie__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experiencie__content {
        padding: 1rem;
    }
}

/* MEDIA QUERIS(SMALL) */

@media screen and (max-width: 600px) {
    .experiencie__container {
        gap: 1rem;
    }

    .experiencie__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }

    section {
        margin: 30px;

    }
}